@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body { 
    height: 100%;     
    font-size: auto;
    color: #073763;
    background-color: #ffffee;  
    font-family: 'Nunito', sans-serif;    
}

a {
    padding: 5px;    
    color: #073763;
    font-weight: bold; 
    text-align: center;
    margin: 0px 4px 0px;  
    text-decoration: none;
    background-color: #ffffee;
    box-shadow: 1px 2px 2px #f0a963;
}

#buscar, #comentario, #mensagem, #membros {
    padding: 5px;
    text-align: left;
    min-width: 150px;
    background-color: #ffffee;
    border: 0.5px solid #f0a963;
    box-shadow: 1px 2px 2px #f0a963;
}

#text_busca {   
    margin: 0px; 
    border: 0px;
    width: 100px; 
    box-shadow: 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    background-color: #ffffee; 
}

#header, #titulo, #perfil {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-image: radial-gradient(circle, #f9cb9c, #f0a963, #ff9900);
}

#perfil {
    margin: 20px;
    background-image: linear-gradient(to bottom right, #f9cb9c, #ffffee);
}

h4, h5 {
    color: #073763;
    font-weight: bold;  
    text-align: center;
}

h5 {
    padding: 5px;
    background-color: #ffffee;
    border: 0.5px solid #f0a963;
    box-shadow: 1px 2px 2px #f0a963;
}

label {
    font-weight: bold;     
    text-align: center;
    padding: 15px 10px 10px 15px;
}

#img_perfil{       
    height: 180px;
    padding: 10px;
    max-width: 250px;
    background-color: #ffffee;
}

img {
    max-width:100%; 
    max-height:100%;
}

#arte, #grupo, #descricao {  
    height: 220px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    background-color: #ffffee;
    border: 0.5px solid #f0a963;
}

#grupo { 
    height: 150px; 
}

#descricao { 
    width: 250px; 
    margin: 10px;
}

#alert, #campo, #notificacao {
    margin: 20px;
    padding: 5px;  
    text-shadow: 0 0 0.1em #f0a963;
    background-image: linear-gradient(to bottom right, #f9cb9c, #ffffee);
}

section, #alert, #notificacao {
    padding: 20px;
    min-height: 100%;
    position: relative;
}

footer {
    font-size: 13px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;    
    background-image: radial-gradient(circle, #f9cb9c, #f0a963, #ff9900);
}

#sala_BP {
    margin: 5px;
    height: 350px;
    padding: 20px;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column-reverse;
    background-image: linear-gradient(to bottom right, #f9cb9c, #ffffee);
}

#imagem, button, select, textarea, input {
    margin: 10px; 
    width: 250px; 
    font-weight: bold; 
    padding: 5px 5px 5px 10px;
    background-color: #ffffee;
    border: 0.5px solid #f0a963;
    box-shadow: 1px 2px 2px #f0a963;
}

button[type=text] {
    text-align: justify;
    font-weight: lighter; 
}

input[type=submit], .modal-header, .modal-footer {
    background-image: radial-gradient(circle, #f9cb9c, #f0a963, #ff9900);
}

.modal-body {
    padding: 20px;
    background-color: #ffffee;
}

.close, .alt_perfil, .alt_senha, .sair, .icon, .descricao {   
    border: 0;
    opacity: 1;  
    float: right;
    width: initial;
    color: #073763;
    box-shadow: 0 0 0; 
    text-shadow: 0 0 0;
    background-color: initial;
}

.close, .descricao {  
    margin: 0px; 
    padding: 0px;
    margin-left: 5px;
}

::-webkit-input-placeholder {
    color: #073763;
    font-weight: lighter; 
}

::-webkit-file-upload-button {
    border: 0px;
    color: #073763;
    background: none;
    box-shadow: 0 0 0;
    border-left: 0.5px solid #f0a963;
    border-right: 0.5px solid #f0a963;
}

[data-title] {
    position: relative;
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}

[data-title]:after {
    z-index: 99999;
    padding: 2px 5px;
    position: absolute;
    visibility: hidden;
    font-weight: lighter;
    content: attr(data-title);
    background-color: #ffffee;
    border: 0.5px solid #f0a963;
    box-shadow: 1px 2px 2px #f0a963; 
}

.carousel-control.left, .carousel-control.right, .data-slide-to {
    width: 5%;
    padding: 0;
    opacity: 1;
    background: 0;
    box-shadow: 0 0 0;
}